<div ng-controller="MainCtrl" class="main">
  <div class="overlay"></div>
    <div class="content">
    <a id="logout" href="/auth/logout" ng-hide="isLogged" target="_self">Logout</a>
    <a href="/restaurant/create" target="_self">Create a Restaurant</a>
      <div class="headline">
        <h1>Munch Guru</h1>
        <p class="subtitle">Find the best places to eat near your work or school.</p>
      </div>

      <div class="list">
        <form name="searchForm">
          <input id="searchbar" type="text" name="restaurant" ng-model="restaurant" placeholder="Type restaurant name to add to the list...">  
          <button id="search" ng-click="search(restaurant)">Search</button>
        </form>
        <ul class = "search-results">
          <li ng-repeat="restaurant in results.businesses">
            <div ng-click="addPlace(restaurant)">{{restaurant.name}} - {{restaurant.location["display_address"][0]}}</div>
          </li>
        </ul>
        <table class="rankings-table">
          <tr>
            <td><span class="go">GO</span></td>
            <td>13</td>
            <td>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star-half"></span>
            </td>
            <td>Gary Danko</td>
          </tr>
          <tr>
            <td><span class="go">GO</span></td>
            <td>10</td>
            <td>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </td>
            <td>Chipotle</td>
          </tr>
          <tr class="rankings-row going">
            <td><span class="picked">GOING</span></td>
            <td>5</td>
            <td>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star-half"></span>
            </td>
            <td>McDonald</td>
          </tr>
          <tr>
            <td><span class="go">GO</span></td>
            <td>2</td>
            <td>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star-half"></span>
            </td>
            <td>Carl Jr</td>
          </tr>
          <tr>
            <td><span class="go">GO</span></td>
            <td>1</td>
            <td>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star-half"></span>
            </td>
            <td>Subway</td>
          </tr>
        </table>
      </div>

      <div class="options">
        <div ng-controller="ModalCtrl">
          <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
              <h3 class="modal-title">Welcome to Munch Grub</h3>
            </div>

            <div class="modal-body">
              MunchGuru is all about using the knowledge of your classmates and colleagues to find the best places to eat near you. Login or sign up with the button below, and start discovering new restaurants today.

              <div class="modal-footer">
                <a href="/auth/github" target= "_self" class="search fa fa-github btn btn-block btn-social btn-github">Sign in with GitHub</a>
              </div>
            </div>
          </script>
        </div> 
      </div>
  </div>
</div>  

<!--<form method="post" ng-submit="login()" name="loginForm" class="ng-pristine ng-invalid ng-invalid-required">
              //   <div class="form-group has-feedback">
              //     <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" name="email" ng-model="email" placeholder="Email" required="" autofocus="">
              //     <span class="ion-at form-control-feedback"></span>
              //   </div>

              //   <div class="form-group has-feedback">
              //     <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="password" name="password" ng-model="password" placeholder="Password" required="">
              //     <span class="ion-key form-control-feedback"></span>
              //   </div>

              //   <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-sm btn-block btn-success" disabled="disabled">Log in</button>
              //   <br>
              //   <p class="text-center text-muted">
              //   <small>Dont have an account yet? <a href="/signin">Sign up</a></small>
              //   </p>
              // </form>
-->


